.Eulacont {
    background-color:#F8F9FB;
    text-align: center;
    justify-content: column;
    height: 1080px;
    align-items: center;
    display: flex;
    justify-content: center;

}
.eulaotsikko{
    color: black;
    font-size: 30px;
}
.eulateksti{
    color: black;
    font-size: 20px;
}
.Eulalaatikko {
    width: 80%;
    align-items: center;
}