.Tuote1{
    background-color:#F8F9FB ;
    height: 100%;
    width: 100%;
}
.tuotecontainer{
    display: flex;
    justify-content: center;
}
.tuotekuvasäilö{
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 1000px;
    height: 1000px;
    
}
.tuoteesittely{
    width: 500px;
    height: 500px;
}
.kuvatuote123{
    width: 998px;
    height: 998px;
    align-self: center;
}