.contact {
    margin: 0 auto;
    background-color: rgb(111, 170, 209);
    display: flex;
    justify-content: space-around;
    
}

.textSection {
    text-align: center;
    flex-wrap: wrap;
    margin: 2.5rem 2.25rem 0 2.25rem;
    font-family: 'poppins';
    width: 50rem;
}

.textHeadline {
    font-weight: 600;
    color: white;
}

.text {
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'poppins';
}


.palaaBtn {
    background-color: hsl(52, 0%, 98%);
    font-weight: 700;
    color: black ;
    margin-top: 50px ;
    padding: 0.75rem;
    border-radius: 1.5rem;
}

.formSection {
    text-align: center;
    background-color:rgb(255, 255, 255);
    width: 100%;
    margin: 1.25rem 1.5rem 1.25rem;
    border-bottom-left-radius: 10% 50%;
    border-top-left-radius: 10% 50%;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

.formHeadline {
    font-weight: 600;
    
}

input {
    width: 16rem;
    height: 2.25rem;
    box-sizing: border-box;
    margin: 0.5rem;
    border-radius: 0.3rem;
    border-color: rgba(0, 0, 0, 0.532);
}

.viesti {
    width: 36rem;
    height: 8rem;
}

.sendBtn {
    padding: 0.75rem;
    border-radius: 1.5rem;
    background-color: rgb(111, 170, 209);
    margin-bottom: 1rem;
    border: none;
    color: white;
}
